@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Estedad';
  src: url('/fonts/Estedad-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:'Estedad' ,Arial, Helvetica, sans-serif;
}
